* {
    margin: 0;
    padding: 0;
    /* border: none; */
    box-sizing: border-box;
}

body {
    height: calc(100 * var(--vh));
    width: calc(100 * var(--vw));
    align-content: center;
    justify-content: center;
    text-align: center;
}

.container-start {
    display: flex;
    flex-direction: row;
}

.player-container {
    flex-grow: 1;
}

.header {
    font-size: 3rem;
}

.container {
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(3, 200px);
    gap: 5px;
}

.move {
    grid-template-columns: 400px 400px;
}

.play {
    grid-template-columns: repeat(3, 200px);
}

.gamemode {
    grid-template-columns: 400px;
}

button:hover {
    filter: brightness(0.8);
}

.scrollbar-container {
    width: 100%;
    padding: 10px;
}

/* SCROLLBAR */

.custom-scrollbar {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.15s ease-in-out;
    border-radius: 5px;
}

.custom-scrollbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.custom-scrollbar::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
