* {
    margin: 0;
    padding: 0;
    /* border: none; */
    box-sizing: border-box;
}

body {
    height: calc(100 * var(--vh));
    width: calc(100 * var(--vw));
    align-content: center;
    text-align: center;

    /* Background Color Properties */
    --footer-bg-color: none;

    /* Text Color Properties */
    --footer-first-link-text-color: purple;
    --footer-second-link-text-color: purple;

    /* Size Properties */
    --square-edge-length: min(200px, calc(25 * var(--vw)));

    /* Font Styles */
    font-family: sans-serif;
}

.header {
    font-size: 3rem;
}

.container-start {
    display: flex;
    flex-direction: row;
    height: 350px;
}

.player-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-container[value="1"] .player-header {
    align-self: flex-end;
    margin-right: calc(2 * var(--vw));
}

.player-container[value="2"] .player-header {
    align-self: flex-start;
    margin-left: calc(2 * var(--vw));
}


.player-header {
    font-size: 2rem;
}

.container {
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(3, var(--square-edge-length));
    grid-template-columns: repeat(3, var(--square-edge-length));
    gap: 5px;
}

button:focus {
    filter: brightness(0.8);
}

.control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-button {
    width: 50%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--footer-bg-color);
}

.footer > a {
    text-decoration: none;
}

.footer > a:first-child {
    color: var(--footer-first-link-text-color);
}

.footer > a:last-child {
    color: var(--footer-second-link-text-color);
}

/* SCROLLBAR */
.scrollbar-container {
    width: 80%;
    padding: 10px;
}

.custom-scrollbar {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.15s ease-in-out;
    border-radius: 5px;
}

.custom-scrollbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.custom-scrollbar::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* SVGs */
.svg {
    aspect-ratio: 1 / 1;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.human-svg {
    mask-image: url(graphics/svgs/human.svg);
    background-color: red;
    height: 40px;
}

.ai-svg {
    mask-image: url(graphics/svgs/ai.svg);
    background-color: rgb(47, 255, 75);
    height: 40px;
}

